################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/projects/CHURCH/timestamp/config.js
timestamp-blazor/wwwroot/js/config.js
/_site/
