body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}

a {
    color: lime;
    text-decoration: wavy;
}

header{
    position: fixed;
    
}

header .menu{
    position: relative;
    float:right;
}

.body{
    position: fixed;
    margin-top: 2em;
}