body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}
.body{
    padding-top: 0.3em;
    margin-left: 2rem;
    margin-right: 2rem;
}
a {
    color: lime;
    text-decoration: wavy;
}
a:hover{
    border-bottom: 1px solid limegreen;
}

header{
    margin-top:0.5em;
}

header .menu{
    /* position: relative; */
    /* float:right; */
    text-align:left;
    margin-left: 2rem;
    margin-bottom: 0.2em;
}
.txt{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.body{
    position: fixed;
    margin-top: 2em;
}

ul{
    padding-left: 0rem;
    margin-left: 0rem;
}
ul li{
    list-style: none;
}

p{
    margin: 0;
    padding-bottom: 0.5rem;
}
.user{
 color: purple;
}

.path{
 color: cornflowerblue;
}
text{
    margin:0;
    padding-bottom: .05rem;
}
a img{
    height: 1rem;
    padding-left: 0.5rem;
    display: none;
    padding-bottom: ;
}
a:hover img{
    display: inline-block;
} 